<h1>Detalle del producto</h1>

<div>
    <h2><%= product.name %></h2>
    <p><%= product.description %></p>
    <p><%= product.price %></p>
    <img src="images/<%= product.image %>" alt="<%= product.name %>">
</div>